# Server
NODE_ENV="development"
HOST="http://localhost"
PORT=3000 
SOCKET_PORT=4000

# PostgreSQL
DATABASE_URL="postgresql://docker:docker@localhost:5432/vidify"

# Redis
REDIS_URL="redis://localhost:6379"

# AWS
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# OpenAi
OPENAI_API_KEY=""

# Gemini
GEMINI_API_KEY=""

# Claude
CLAUDE_API_KEY=""

# Unsplash
UNSPLASH_API_URL="https://api.unsplash.com/search/photos"
UNSPLASH_API_TOKEN=""