# Server
NODE_ENV="development"
HOST="http://localhost"
PORT=4000 

# PostgreSQL - MySQL
DATABASE_URL="mysql://root:root@localhost:3306/vidify"
#DATABASE_URL="postgresql://docker:docker@localhost:5432/vidify"

# Redis
REDIS_HOST="localhost"
REDIS_PORT=6379

# AWS
AWS_REGION="us-east-1"
AWS_BUCKET=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# OpenAi
OPENAI_API_KEY=""

# Unsplash
UNSPLASH_API_URL="https://api.unsplash.com"
UNSPLASH_ACCESS_KEY=""